* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: rgb(209, 209, 209);
}

form {
    text-align: center;
}

form h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

form label {
    text-decoration: underline;
    padding-right: 6px;
}

input#tarefa,
input#botao {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

input#botao:hover {
    background-color: rgb(58, 228, 58);
}

ul {
    text-align: center;
    margin-top: 15px;
}